[core]
	editor = vim
	excludesfile = /Users/aturvey/.gitignore_global
[push]
	default = simple
[user]
	name = Anthony Turvey
	email = anthony.turvey@gmail.com
[color]
	ui = auto
[pull]
	default = simple
[alias]
	stat = status -s
	unstage = reset HEAD --
	last = log -1 HEAD --stat
	logp = log --pretty=oneline
	logs = log --stat
	logg = log --pretty=format:\" %h  %s\" --graph
	br = branch -avv
	co = checkout
	df = diff
	dt = difftool
	ls = ls-files
[diff]
	tool = vimdiff
	conflictstyle = diff3
[merge]
	conflictstyle = diff3
	renormalize = true
	tool = vimdiff
[mergetool]
	prompt = false
