headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 1px;
    margin-bottom: 1px;
}

headerbar {
    min-height: 24px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 1px;
    padding: 1px;
}

.titlebar: backdrop {
    background: #202020;
    color:white;
}
